
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
.main-container {
    width: 1200px;
    margin: 0 auto;
}
  
@media screen and (max-width: 1200px) {
    .main-container {
      width: 90%;
    }
}

/* --- Logo and Navigation Menu --- */
nav {
    background: white;
    padding: 10px;
    box-shadow: rgba(120, 126, 133, 0.2) 0px 8px 24px;
    padding: 2em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
  }
.nav img {
    width: 200px;
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
  }

/* Nav menu */
nav ul li {
    display: flex;
    align-items: center;
  }
  
nav ul li a {
    color: black;
  }